/* Centrage du texte pour tout le site */
body {
    text-align: center;
}

/* Style pour le formulaire */
form {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

form table {
    width: 100%;
    margin: 0 auto; /* Pour centrer le tableau à l'intérieur du formulaire */
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Style pour la carte de visite */
.carte-visite {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.carte-visite h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carte-visite h3 {
    font-size: 18px;
    color: #777;
    margin-bottom: 15px;
}

.carte-visite p {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.reseaux a {
    color: #4CAF50;
    margin: 0 10px;
    text-decoration: none;
}

.reseaux a:hover {
    text-decoration: underline;
}
